* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 0%);
    color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-container {
    display: flex;
    gap: 20px;
    padding: 90px 150px 40px;
    justify-content: space-between;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.mini-container > div {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

button {
    margin: 20px;
    width: 120px;
    height: 120px;
    background-color: hsla(120, 100%, 100%, 0);
    border-radius: 10px;
    transition: transform 0.3s;
}

h1 {
    font-size: 80px;
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    padding: 60px 0px;
    color: rgb(238, 70, 70);
    border-bottom: 2px dashed #A8A9AD;
    font-family: "Rakkas", sans-serif; 
}

p {
    font-size: 32px;  
    margin: 10px auto 10px auto;
    font-weight: 600;
    font-family: "Amiko", serif; 
}

img {
    width: 200px;
    height: 200px;
}

.round-result, .game-result {
    width: 500px;
    height: 100px;
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid azure;
    background-color: azure;
    color: black;
    /*for text alignment*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Amiko", serif; 
    /*position self*/
    align-self: center;
}

i {
    font-size: 80px;
}

.left-aligned i, .score.player {
    color: rgb(226, 160, 29);
}

.left-aligned button, .left-aligned div {
    border: 2px dashed rgb(226, 160, 29); 
}

.right-aligned i, .score.computer {
    color: rgb(77, 142, 189);
}

.right-aligned button, .right-aligned div {
    border: 2px dashed rgb(77, 142, 189); 
}

.player > i {
    transform: scale(-1, 1);
}

.score {
    font-family: "Amiko", serif; 
}

.footer i {
    font-size: 30px;
}


div.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Amiko", serif; 
}

div .play-again i {
    font-size: 20px;
}

div .play-again {
    align-self: center;
    margin-top: 40px;
    font-family: "Amiko", serif; 
    font-size: 25px;
}

.game-session-details {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    justify-content: center;
}

.mini-container {
    align-self: center;
}

button.greyed-out {
    border: 2px dashed #A8A9AD;
}

i.greyed-out, .score.greyed-out {
    color: #A8A9AD;
}

.left-aligned > button.hoveredOn {
    transform: scale(1.1);
}

.left-aligned > button.clicked {
    box-shadow: 0 0 10px rgb(226, 160, 29);
}

/* Black, peach, plum red, white, metal grey is my color palette. */

/* Checklist of wants:

- Add nice font to round/game comment.  ✔
- More rounded edges, with unique borders and trims, fancy fonts, color to the page.  ✔
- Color palette ideas:
    - Plum red, metallic blue, wheat yellow, white.  
- I want the header to stretch to fill the entire inline space but for the content to be centered  ✔
    - Either wrap it in a div or just use text-align  ✔
- Add titles: You, computer. 
- Add round counter and restart option. 
- Increase font size slightly, play around with spacing, change styles to sans serif.  ✔
- Give text and icons some texture, like a glint or metallic feel.
- Give some dimensions to elements to not make them feel flat.
*/


