@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Dosis:wght@400;500&family=Nova+Square&family=Roboto+Mono:wght@500;600&family=Roboto+Slab:wght@400;500;800&family=Silkscreen:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

:root {
    font-family: 'Dosis', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --main-bg-color: rgb(9, 9, 9);
    --panel-color: #0f1111;
    --player-color: #D62246;
    --player-color-glow: #e94969;
    --bot-color: #7F95D1;
    --bot-color-glow: #98aeeb;
    --title-color: var(--main-bg-color);
    --main-font: "Amiko", serif;
    --footer-color: lightblue;
}

body {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    background-color: var(--main-bg-color);
}

section p {
    font-size: 70px;
    margin: auto 0;
    padding: 0px 100px;
}

.player.panel+p {
    background: linear-gradient(to right, var(--player-color), var(--bot-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.score {
    font-size: 40px;
}

.main-container {
    display: flex;
    flex: auto;
    align-items: center;
    padding: 0px 100px;
    font-family: 'Nova Square';
}

.moves-container {
    display: flex;
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    flex: auto;
    align-items: center;
    /* border-radius: 15px; */
}

button {
    margin: 20px;
    width: 120px;
    height: 120px;
    border-style: none;
}

h1 {
    font-size: 90px;
    flex-grow: 1;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    color: var(--title-color);
    width: min-content;
    line-height: 80px;
    letter-spacing: 3px;
    background: linear-gradient(to right, var(--player-color), var(--bot-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1+p {
    font-size: 26px;
    margin: auto;
    font-weight: 600;
    flex: 0;
}

i {
    font-size: 80px;
}

.score {
}

footer i {
    font-size: 30px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(to right, var(--player-color), var(--bot-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

section .play-again {
    align-self: center;
    margin-top: 40px;
    font-size: 25px;
}

section .play-again i {
    font-size: 20px;
}

.frame {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer i.hover {
    position: relative;
    bottom: 10px;
}

.computer i.active {
    color: var(--bot-color);
    text-shadow: 0px 0px 0.5px var(--bot-color);
    -webkit-text-stroke-color: transparent;
}

.computer i {
    transform: scaleX(-1);
}

/*style icon whether icon or button is clicked and given hover and active class as e.target*/
.player i:hover,
.player i.hover,
.player.hover i {
    position: relative;
    bottom: 10px;
}

.player i.active,
.player.active i {
    color: var(--player-color);
    text-shadow: 0px 0px 0.5px var(--player-color);
    -webkit-text-stroke-color: transparent;
}

/*Set color themes*/
body {
    background-color: var(--main-bg-color);
}

.panel {
    background-color: var(--panel-color);
}

button {
    background-color: transparent;
}

.player.panel {
    color: var(--player-color);
    border: 4px solid var(--player-color);
}

.computer.panel {
    color: var(--bot-color);
    border: 4px solid var(--bot-color);
}

.player.play-option {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--player-color);
}

.computer.play-option {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--bot-color);
}

/* Style modal */
h2 {
    font-size: 37px;
}

.modal {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.97);
    visibility: hidden;
    /* starts big and scales to be small and on fade starts small and scales to be big to pop out */
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1f1f;
    padding: 1rem 1.5rem;
    color: white;
    width: 24rem;
    height: 10rem;
    border-radius: 0.5rem;
}

div .close-button {
    color: black;
    background-image: linear-gradient(to right, var(--player-color), var(--bot-color));
}

.close-button {
    padding: 0.8rem 1.1rem;
    width: 70%;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 26px;
}

.close-button:hover {
    background-image: linear-gradient(to right, var(--player-color-glow), var(--bot-color-glow));
    transform: scale(1.1);
}

.show-modal {
    visibility: visible;
    transform: scale(1.0);
    /* for show and hide transition on both*/
    transition: visibility 0s linear 0s, transform 0.25s, background-color 0.25s 0s;
}

.example {
    color: whitesmoke;
}