* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

:root {
    --main-bg-color: orange;
    --panel-color: grey;
    --player-color: blue;
    --bot-color: red;
    --title-color: green;
    --main-font: "Amiko", serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

section p {
    font-size: 70px;
    margin: auto 0;
}

.main-container {
    display: flex;
    gap: 200px;
    justify-content: center;
}

.moves-container {
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    gap: 20px;
    background-color: var(--panel-color);
    padding: 20px;
}

.computer.panel {
    flex-direction: row-reverse;
}

button {
    margin: 20px;
    width: 120px;
    height: 120px;
    background-color: transparent;
    border-radius: 10px;
    transition: transform 0.3s;
}

h1 {
    font-size: 60px;
    flex-grow: 1;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    color: var(--title-color);
    width: min-content; 
    line-height: 70px;
}

h1 + p {
    font-size: 26px;  
    margin: auto;
    font-weight: 600;
    font-family: "Amiko", serif; 
}

i {
    font-size: 80px;
}

.player > i {
    transform: scale(-1, 1);
}

.score {
    font-family: "Amiko", serif; 
}

footer i {
    font-size: 30px;
}


footer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--main-font); 
}

section .play-again {
    align-self: center;
    margin-top: 40px;
    font-family: "Amiko", serif; 
    font-size: 25px;
}

section .play-again i {
    font-size: 20px;
}

.frame {
    align-self: center;
}

button.greyed-out {
    border: 2px dashed #A8A9AD;
}

i.greyed-out, .score.greyed-out {
    color: #A8A9AD;
}

button.hover {
    transform: scale(1.1);
}

.fa-solid.fa-rotate-right:hover, .fa-solid.fa-rotate-right:focus {
    transform: scale(1.3);
}


